body {
    padding-top: 70px;
    background-color: #cafc4f;
}

.bg-dark-green{
    background-color: #0b0708;
}

/*********** Navigation bar ***********/
.brand-block {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
    text-decoration: none;
}

.brand-name{
    font-family: "BBH Hegarty", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2.2rem;
    font-weight: 700;
    color: #cafc4f;
    text-decoration: none;
}

.brand-subtitle{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    padding-top: 0.3rem;
    color: #cafc4f;
    text-decoration: none;
}

.nav-link{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #cafc4f;
}

.nav-link.active{
    color: #F5Fb43;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #F5Fb43;
}

/*********** About Me Section ***********/
.about-section{
    padding-top: 5rem;
    background-color: #0b0708;
    padding: 50px 40px 50px 40px;
}

.about-title {
    color: #cafc4f;
    font-family: "BBH Hegarty", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #cafc4f;
}

.cover-carousel-section {
    background-color: #0b0708;
    padding: 0px 0 0px 0;
    margin-bottom: 40px;
}

/*********** Pictures ***********/
.carousel {
    border-radius: 12px;
    overflow: hidden;
}

.carousel-img {
    height: 350px;
    object-fit: cover;
    object-position: center top;
}

/*********** Workflow Section ***********/
.work-section {
    padding: 70px 0;
}

.work-title {
    color: #0b0708;
    font-family: "BBH Hegarty", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.work-card {
    background-color: #0b0708;
    border: 0px;
    border-radius: 0;
}

.work-card-header {
    background-color: #0b0708;
    color: #F5Fb43;
    font-family: 'Squada One', sans-serif;
    font-size: 1.8rem;
    border-bottom: none;
}

.work-card-body {
    background-color: #F5Fb43;
    color: #0b0708;
    padding: 30px;
}

.work-card-body p {
    color: #0b0708;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.05rem;
    line-height: 1.6;
}

/*********** Case Study Section ***********/
.case-section {
    padding: 70px 0;
    background-color: #cafc4f;
}

.case-title {
    color: #0b0708;
    font-family: "BBH Hegarty", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.case-card {
    background-color: #F5Fb43;
    border: 0;
    border-radius: 0;
    height: 100%;
}

.case-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.case-card-title {
    background-color: #0b0708;
    padding: 20px 25px;
}

.case-card-title h4 {
    color: #cafc4f;
    font-family: 'Squada One', sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

.case-card-body {
    background-color: #F5Fb43;
    color: #0b0708;
    padding: 15px;
}

.case-card-body p {
    color: #0b0708;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.05rem;
    line-height: 1.6rem;
}

.case-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 12px;
    background-color: #0b0708;
    color: #F5Fb43;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 5px;
}

.case-btn:hover {
    background-color: #cafc4f;
    color: #0b0708;
}